  <nav class="red accent-2 absolute " role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="Jack-logo" style="font-size: 25px">Trade Jack</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
          <li><a href="/user">My Tasks/Bids</a></li>
       </ul>
  </nav>


<!-- Search Listing Jumbotron -->
  <div class="jumbotron red accent-2">
  <section id="search" class="search-wrap" >
    <form action="listings" class="search-form">
        <div class="input-search">
        <i class="fas fa-search"></i>
        <input type="search" name="term" placeholder="Search Listings">
        </input>
      <!-- <button type="button" name="Search" id="search">Search</button> -->
    </form>
      </div>
    </div>
    </div class="jumbotron"> 