{{!-- 
    <div class="section light full-height">
      <div class="row">
        <div class="col s12 m4">
            <div class="card">
          <h1>Task</h1>
          <div class="row masonry-grid">
            <div class="col s12 m6 l4">
              <div class="card fade-in-out up-in-out" data-duration="0">
                <div class="card-image">
                  <a href="/img/lawn2.jpeg"><img src="http://placehold.it/600x400"></a>
                  <span class="card-title">Lawn Work</span>
                </div>
              </div>
            </div> --}}



    <!-- Clients -->
    <div class="section light-blue clients">
      <div class="container">
        <h2 class="section-title">Category</h2>
      </div>
      <div class="row">
        <a href="#!" class="col s12 m6 l4 client red lighten-4">
          <img class="logo" src="http://placehold.it/128x128" alt="google">
          <span class="title">Outdoor</span>
        </a>
        <a href="#!" class="col s12 m6 l4 client green lighten-4">
          <img class="logo" src="http://placehold.it/128x128" alt="snapchat">
          <span class="title">Indoor</span>
        </a>
        <a href="#!" class="col s12 m6 l4 client red lighten-4">
          <img class="logo" src="http://placehold.it/128x128" alt="messenger">
          <span class="title">Construction/Heavy Labor</span>
        </a>
        <a href="#!" class="col s12 m6 l4 client blue lighten-4">
          <img class="logo" src="http://placehold.it/128x128" alt="pinterest">
          <span class="title">Educational</span>
        </a>
          <a href="#!" class="col s12 m6 l4 client yellow lighten-4">
          <img class="logo" src="http://placehold.it/128x128" alt="dribbble">
          <span class="title">Tech Help</span>
        </a>
        <a href="#!" class="col s12 m6 l4 client blue lighten-4">
          <img class="logo" src="http://placehold.it/128x128" alt="dribbble">
          <span class="title">Misc</span>
        </a>
      </div>
    </div>
