
<div class="section green accent-1">

  <br>
  <h1 class="header center red-text"> Category </h1>
  <div class="row center">
    <div class="col s12">
      <div class="session gray lighten-1">
        Popular categories below</p>
        {{!-- <ul class="category spots"> --}}
          <img class="materialboxed" src="http://placekitten.com/200/350" alt="">
        </ul>
        {{!-- 
      <p>
        asdfjk;</p> --}}
      </div>
    </div>
  </div>
</div>

{{!-- <div class="row">
    <div class="col s12">
      <ul class="tabs"> --}}