
    <div class="section light full-height ">
      <div class="row">
            <div class="card yellow lighten-1 ">
          <div class="row masonry-grid">
        
              <div class="card fade-in-out up-in-out" data-duration="0">

</div>
</div>
{{!-- <div class="section grey accent-2 clients"> --}}
     <div class="container"> 
      <h2 class="section-title">Category</h2>
      <div class="row">
<div class="slider yellow lighten-1">
    <ul class="slides">
      <li>
        <img src="http://placekitten.com/200/300"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://placekitten.com/200/305"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://placekitten.com/200/310"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://placekitten.com/200/315"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
</div>
</div> 