
<!-- foooter with materialize -->
  <footer class="page-footer grey accent-2" style="position: static">
    <div class="nav-wrapper container">
      <div class="row">
        {{!-- <div class="col s6 m3"> --}}
          <h5 class="white-text">Jack Team Words</h5>
          <p class="grey-text text-lighten-4">We hope you have enjoyed Trade Jack. If you have any questions you can reach out by contacting us through the link. If you have enjoyed our website as much as we enjoyed creating it and you feel like it has helped you with daily hassles around the house and want to support our team you can help us by donating. Any amount would support and continue to help us continue to develop Trade Jack and is greatly appreciated.</p>
        </div>

        {{!-- <div class="col l3 s12"> --}}
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">About </a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Help/Contact</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Donate</a></li>
              <br>
              <br>
            </ul>
          </div>
        {{!-- </div>
      </div> --}}
      <div class="footer-copyright">
        <div class="container">
        © 2020 Copyright 
        <a class="grey-text text-lighten-4 right" href="#!">Meet the Team</a>
        </div>
      </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>