
<nav class="green accent-2 absolute " role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="Jack-logo" style="font-size: 25px">Trade
      Jack</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/add-task">New Task</a></li>
      <li><a href="/user">User Page</a></li>
    </ul>
  </div>
</nav>

