<!-- Fixed navbar -->
{{!-- This is a partial --}}
{{!-- If we go with partials for the navbar we need to register it on the handlebars page. --}}
 <!-- Nav with materialize -->
 
  <nav class="red accent-2" role="navigation">
    <div class="nav-wrapper container" ><a id="logo-container" href="#" class="Jack-logo" style="font-size: 30px">Trade Jack</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/add-task">New Task</a></li>
      </ul>
  </nav>


<!-- Search Listing Jumbotron -->
  <div class="jumbotron red accent-2">
  <section id="search" class="search-wrap" >
    <form action="listings" class="search-form">
        <div class="input-search">
        <i class="fas fa-search"></i>
        <input type="search" name="term" placeholder="Search Listings">
        </input>
      <!-- <button type="button" name="Search" id="search">Search</button> -->
    </form>
      </div>
    </div>
    </div class="jumbotron"> 