{{!-- This has been edited from bootstrap to materialize TP --}}
{{!-- Jumbotron should go in the main.handlebars but I also so it on "landing" page(s) too. --}}
{{!-- Do not touch --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trader Jack </title>

    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {{!-- This link is linking it to our css file in public folder --}}
    <link rel="stylesheet" href="/ public/css/style.css" type="text/css" />
   
    {{!-- <script src="/public/js/trade.js"></script> --}}
</head>

<body>
   <header>
    <div class="jumbotron">
        <a href="#" class="brand-logo">Trade Jack</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Home</a></li>
          <li><a href="sass.html">Log in/Sign up</a></li>
          <li><a href="badges.html">View My Page</a></li>
          <li><a href="collapsible.html">Make a post</a></li>
        </ul>
      </div>

      <div class="search">
   SEARCH BAR 
      </div>
        <!-- SEARCH BAR  -->

		</jumbotron> 
</header>

  <div class="container">
          {{{ body }}}
</div>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>

</body>

</html>

