{{!-- Do not touch --}}
{{!-- Possible to take out navbar and insert into partials so that partials will added onto all pages. We would just have to register the partial where we want it to go to. --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trader Jack </title>

  
  {{!-- link jquery --}}
  <script src="https://code.jquery.com/jquery.js"></script>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- This link is linking it to our css file in public folder --}}
  <link rel="stylesheet" href="/public/css/style" type="text/css" />

  {{!-- Not adding a script to link to JS because we want a different one on each individual handlebar. --}}

<body>
          {{{body }}}

    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>

</body>
</html>