{{!-- This is the add a post fixed --}}

<section id="add" class="container">
    <div class="form-wrap">
        <h1>Add A Post</h1>
        <p>Your username will be shared with registered users who reply to your post.</p>
        {{#each errors}}
        <div class="error">
            <p>{{text}}</p>
        </div>
        {{/each}}

        <form action="/posts/add" method="POST">
            <div class="input-group">
                <label for="title">User Name</label>
                <input type="text" name="user_name" id="user" class="input-box"
                    placeholder="eg. Bear McGruff, Jane Doe, etc" maxlength="100" value="{{user_name}}">
            </div>
          
            <div class="input-group">
                <label for="price">Price</label>
                <input type="text" name="task_price" id="task_price" class="input-box"
                    placeholder="eg. $" value="{{price}}">
            </div>

            <div class="input-group">
                <label for="budget">Task Description</label>
                <input type="text" name="description" id="description" class="input-box" placeholder="Enter task description
                    value="{{description}}">
            </div>
            <input type="submit" value="Add Post" class="btn btn-reverse">
        </form>
    </div>
</section>