


  <div class=" section grey accent-1">
    <section id="add" class="container green accent-1">
      <div class="form-wrap ">
        <h1>Create Account</h1>

        {{!-- <form> --}}
        {{!-- Username --}}
        <div class="input-group username">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" class="input-box"
            placeholder="username at least 5 characters" maxlength="30" value="{{username}}">
        </div>

        {{!-- Email --}}
        <div class="input-group email">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" class="input-box" placeholder="valid email" maxlength="30"
            value="{{email}}">

        </div>

        {{!-- Password --}}
        <div class="input-group password">
          <label for="password">Enter a password Password</label>
          <input type="text" name="password" id="password" class="input-box" placeholder="Password"
            value="{{password}}">
        </div>

        {{!-- Re-enter password --}}
        <div class="input-group rePassword">
          <label for="rePassword">Enter Password Again</label>
          <input type="text" name="rePassword" id="rePassword" class="input-box" placeholder="Password"
            value="{{rePassword}}">
        </div>

        {{!-- Form Submit --}}
        <button type="submit" class="btn btn-reverse" id="submitBtn"> Submit
        </button>
        {{!-- </form> --}}
        <br><br><br>
      </div>
    </section>
  </div>

<!-- RENDER TEMPLATE AFTER EVERYTHING ELSE LOADED -->
<script src="js/createAcc.js"></script>

</div>
</section>