<section id="search" class="search-wrap">
    <h1>Find A Post</h1>
    <form action="listings.html" class="search-form">
        <i class="fas fa-search"></i>
        <input type="search" name="term" placeholder="Outdoors, Indoors, Misc.">
        <input type="submit" value="Search">
    </form>
</section>

<div class="container">

    <div class="jumbotron">
        <a href="#" class="brand-logo">Trade Jack</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Home</a></li>
          <li><a href="sass.html">Log in/Sign up</a></li>
          <li><a href="badges.html">View My Page</a></li>
          <li><a href="collapsible.html">Make a post</a></li>
        </ul>
      </div>
      <div class="search">
   SEARCH BAR 
      </div>
        <!-- SEARCH BAR  -->
		</jumbotron> 