<section id="search" class="search-wrap">
    <h1>Find A Post</h1>
    <form action="listings.html" class="search-form">
        <i class="fas fa-search"></i>
        <input type="search" name="term" placeholder="Outdoors, Indoors, Misc.">
        <input type="submit" value="Search">
    </form>
</section>

<div class="container">

    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
        