<body>

    <div class="section grey lighten-2 valign-wrapper">
        <div class="container">
            <form id="loginForm">
                <br>
                <div class="row">
                    <div class="col s12">
                        <h2 class="section-title">Login</h2>
                    </div>
                    <div class="input-field col s6">
                        <input id="user_name" type="text">
                        <label for="user_name">Username</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="password" type="text">
                        <label for="password">Password</label>
                    </div>
                    <div class="input-field col s12">
                        <!-- <textarea id="message" class="materialize-textarea"></textarea> -->
                        <!-- <label for="message">Message</label> -->
                        <a class="waves-effect waves-light btn-large center">Go, go, go!</a>
                    </div>
                    {{!-- </div> --}}
                    <a href="/create-acc">First time? sign up here!</a>
                    {{!-- </form> --}}
                </div>
                <br><br><br>
        </div>
    </div>


    <!-- Contact Us -->
    <div class="section teal lighten-5 valign-wrapper">
        <div class="container">
            <form>
                <div class="row">
                    <div class="col s12">
                        <h2 class="section-title">Contact Us</h2>
                    </div>
                    <div class="input-field col s6">
                        <input id="first_name" type="text">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text">
                        <label for="last_name">Last Name</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="message" class="materialize-textarea"></textarea>
                        <label for="message">Message</label>
                        <a class="waves-effect waves-light btn-large">Button</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        $('#loginForm').on('submit', event => {
            event.preventDefault();
            const ajaxObj = {
                username: $("input[name=username]").val(),
                password: $("input[name=password]").val()
            }
            $.post('/auth/login', ajaxObj).then(data => {
                //console.log(data);
                data.loggedIn ? alert("logged in, redirect plz") : alert('failed to loggin');
                window.location.href = "/";
            })
        })
    </script>