{{!-- Login will have a different layout --}}

    <body>
      <div class="container">
          <div class="valign-wrapper">
            <!-- Page Content goes here -->


        <form>
{{!-- Logo would be link back to home  --}}
        {{!-- <h3>Vertically aligned form</h3>
        </div>
        <h5 class="center-align">Text</h7>
         </div>
 --}}
   
 <!-- RENDER TEMPLATE AFTER EVERYTHING ELSE LOADED -->
  <script src="js/login.js"></script>



        </form>
      </div>
    </body>