<div class="container">

    <div class="jumbotron">
             <div class="logo" id="leftside"><strong>Trade Jack</strong>
            <button type="button" class="Login btn btn-danger" id="loginbutton" data-id="{{this.id}}"></button>
            <button type="button" class="Userpage btn btn-danger" id="userpagebutton" data-id="{{this.id}}"></button>
            <button type="button" class="Createpost btn btn-danger" id="createbutton" data-id="{{this.id}}"></button>
        {{!-- TODO: Add Search bar --}}

    </jumbotron>


</div>
<!--endcontainer -->