{{!-- viewing the tasks/posts --}}
<header>
{{> nav}}
</header>
<body>



  </section>
</body>

{{> footer}}
</html>

<!-- RENDER TEMPLATE AFTER EVERYTHING ELSE LOADED -->
<script src="js/task.js"></script>