
<section id="tasks" class="container">
    <h1>All Tasks</h1>

    {{#each tasks}}
    <div class="task">
        <h3>{{user_name}}</h3>
        <p>{{user_task}}</p>

    </div>
    {{else}}
    <p>No tasks yet!</p>
    {{/each}}

</section>

