{{!-- Basically the "landing" page so it should be a replica of home.handlebars --}}

    <title>Trade Jack | Outdoor, Indoor, Misc. Tasks</title>
</head>
{{!-- Updated the Navbar TP --}}
<body>
    <header>
     {{> usernav}}

    </header>

    {{{body}}}
   

 <!-- RENDER TEMPLATE AFTER EVERYTHING ELSE LOADED TP -->

  <script src="js/userpage.js"></script>

</div> 
</header>
</body>

  {{!-- <div class="container">
    <div class="section"> --}}

{{!-- {{> cardstp}} --}}
{{!-- {{> categorytp }} --}}

{{> usercardstp }}

{{> footer}}
</div>

	<!-- RENDER TEMPLATE AFTER EVERYTHING ELSE LOADED -->
  <script src="js/home.js"></script>