<h2>My Open Posts</h2>
  <div class="row">
    {{!-- Insert here each , unless , path to block and closeing unless and each --}}
    {{#each allUserTaskOpen}}
    {{> taskcard-block}}
    {{!-- path to home-block partial file --}}
    {{/each}}
  </div>

<h2>My Closed Posts</h2>
  <div class="row">
    {{!-- Insert here each , unless , path to block and closeing unless and each --}}
    {{#each allUserTaskClosed}}
    {{> taskcard-block}}
    {{!-- path to home-block partial file --}}
    {{/each}}
  </div>

<h2>My Open Bids</h2>
  <div class="row">
    {{!-- Insert here each , unless , path to block and closeing unless and each --}}
    {{#each dbOpenBids}}
    {{> taskcard-block}}
    {{!-- path to home-block partial file --}}
    {{/each}}
  </div>

<h2>My Closed Bids</h2>
  <div class="row">
    {{!-- Insert here each , unless , path to block and closeing unless and each --}}
    {{#each dbClosedBids}}
    {{> taskcard-block}}
    {{!-- path to home-block partial file --}}
    {{/each}}
  </div>