{{!-- Basically the "landing" page so it should be a replica of home.handlebars --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/style.css">
    <title>Trade Jack | Outdoor, Indoor, Misc. Tasks</title>
</head>
{{!-- Updated the Navbar TP --}}
<body>
    <header>
         <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Trade Jack</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="task">Create Task</a></li>
        <li><a href="home">Home</a></li>
      </ul>
    </div>
  </nav>
    </header>

    {{{body}}}
   

 <!-- RENDER TEMPLATE AFTER EVERYTHING ELSE LOADED TP -->

  <script src="js/userpage.js"></script>

</div> 
</body>

        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"> </h5>
                <p class="grey-text text-lighten-4">We hope you have enjoyed Trade Jack. If you have any questions you can reach out by contacting us through the link. If you have enjoyed our website as much as we enjoyed creating it and you feel like it has helped you with daily hassles around the house and want to support our team you can help us by donating. Any amount would support and continue to help us continue to develop Trade Jack and is greatly appreciated.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">About </a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Help/Contact</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Donate</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright 
            <a class="grey-text text-lighten-4 right" href="#!">Meet the Team</a>
            </div>
          </div>
        </footer>

</html>
