{{!-- Basically the "landing" page so it should be a replica of home.handlebars --}}

<title>Trade Jack | Outdoor, Indoor, Misc. Tasks</title>
</head>
{{!-- Updated the Navbar TP --}}
<header>
     {{> usernav}}

    </header>
  <script src="js/userpage.js"></script>
</header>
<body>
  <!-- Listings -->
  <div class="section green accent-2 full-height">
    <div class="container">
      <div class="row">
        <div class="col s12 center">
          <h1>My Listings</h1>
          <div class="row masonry-grid">
            <h2>My Open Posts</h2>
            <div class="row">
              {{!-- Insert here each , unless , path to block and closeing unless and each --}}
              {{#each allUserTaskOpen}}
              {{> usercardstp}}
              {{!-- path to home-block partial file --}}
              {{/each}}
            </div>

          <h2>My Closed Posts</h2>
            <div class="row">
              {{!-- Insert here each , unless , path to block and closeing unless and each --}}
              {{#each allUserTaskClosed}}
              {{> usercardstp}}
              {{!-- path to home-block partial file --}}
              {{/each}}
            </div>

          <h2>My Open Bids</h2>
            <div class="row">
              {{!-- Insert here each , unless , path to block and closeing unless and each --}}
              {{#each dbOpenBids}}
              {{> usercardstp}}
              {{!-- path to home-block partial file --}}
              {{/each}}
            </div>

          <h2>My Closed Bids</h2>
            <div class="row">
              {{!-- Insert here each , unless , path to block and closeing unless and each --}}
              {{#each dbClosedBids}}
              {{> usercardstp}}
              {{!-- path to home-block partial file --}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{{> footer}}

	<!-- RENDER TEMPLATE AFTER EVERYTHING ELSE LOADED -->
  <script src="js/home.js"></script>

