.jumbotron {
    background-repeat: no-repeat;
    background-color: #000000;
    color: #ffffff;
  }

  #newtask {
    color: #5c5c5c;
  }
 

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  color: rgb(39, 38, 39);
  background: #42f10d;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.container {
  max-width: 960px;
  padding: 1rem 4rem;
  margin: auto;
  overflow: hidden;
}

.error {
  padding: 5px;
  border: #767 solid 1px;
  margin-bottom: 15px;
}

/* Header */
header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
}

header ul {
  display: flex;
}

header li {
  margin: 0 1rem;
}
